<% include ../inc/head.html%>
<link rel="stylesheet" href="http://g.alicdn.com/de/prismplayer/1.4.7/skins/default/index-min.css" />
<script src="/javascripts/js/aliyun-sdk.min.js"></script>
<script src="/javascripts/js/vod-sdk-upload.min.js"></script>
<script type="text/javascript" src="http://g.alicdn.com/de/prismplayer/1.4.7/prism-flash-min.js"></script>
<div class="container-fluid">
    <div class="row">
        <div class="sidebar">
            <% include ../inc/left.html%>
        </div>
        <div class="main">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <ul class="list-inline">
                            <li><a href="javascript:history.go(-1)"><span
                                    class="glyphicon glyphicon-chevron-left"></span>返回</a></li>
                        </ul>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading"><b><%= title %></b></div>
                        <div class="panel-body" style="padding:15px 0">
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>姓名</th>
                                            <th>票数</th>
                                            <th>状态</th>
                                            <th>发布时间</th>
                                            <th style="width: 235px">操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        </tbody>
                                    </table>
                                    <div id="page"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script id="inittmpl" type="text/x-jquery-tmpl">
  <tr>
    <td>${id}</td>
    <td>${name}</td>
    <td>${vote}</td>
    <td>${status ? '上架' : '下架'}</td>
    <td>${createdAt}</td>
    <td>
        <span class="btn-group">
            <button class="video btn btn-info btn-sm" type="button" data-path="${video}">播放视频</button>
            {{if status == 0}}
                <button class="online btn btn-sm btn-success" type="button" data-id="${id}">上架</button>
            {{else}}
                <button class="offline btn btn-sm btn-warning" type="button" data-id="${id}">下架</button>
            {{/if}}
            <button class="del btn btn-sm btn-danger" type="button" data-id="${id}">删除</button>
        </span>
    </td>
  </tr>
</script>

<script>
    function error_toaster(title, message) {
        swal({
            title: title,
            text: message,
            timer: 1000,
            type: 'error',
            showConfirmButton: false
        });
    }

    $(document).on('click','.video',function(){
        $("#modal").modal('show');
        var source=$(this).data('path');
        //播放器设置
        var player = new prismplayer({
            id: "J_prismPlayer", // 容器id
            source: decodeURI(source),  // 视频url 支持互联网可直接访问的视频地址
            autoplay: true,      // 自动播放
            width: "100%",       // 播放器宽度
            height: "400px"      // 播放器高度
        });
    })

</script>
<% include ../inc/footer.html%>
<script>
    //分页初始值
    var options = {
        currentPage: 1,//当前页数
        totalPages: 0,//总页数
        numberOfPages: 12,//做多显示page页
        bootstrapMajorVersion: 1,//版本
        alignment: "center",
        onPageClicked: function (e, originalEvent, type, page) {
            if (page > options.totalPages) {
                options.currentPage = options.totalPages;
            } else {
                options.currentPage = page;
            }
            writeList({
                page: page
            })
        }
    };
    /* 删除 */
    $(document).on('click', '.del', function () {
        var id = $(this).data('id');
        swal({
            title: "确定删除 " + name + " ?",
            text: "",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "确定",
            cancelButtonText: "取消",
            animation: "slide-from-top",
            closeOnConfirm: false,
            html: false
        }, function () {
            $.post('/admin/blessings/delete', {id:id}, function (result) {
                if (result.code === 200) {
                    location.reload();
                } else {
                    swal("删除失败", result.message, "warning")
                }
            })
        });
    });
    /* 上架 */
    $(document).on('click', '.online', function () {
        var id = $(this).data('id');
        swal({
            title: "确定上架?",
            text: "",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "确定",
            cancelButtonText: "取消",
            animation: "slide-from-top",
            closeOnConfirm: false,
            html: false
        }, function () {
            $.post('/admin/blessings/online', {id:id}, function (result) {
                if (result.code === 200) {
                    location.reload();
                } else {
                    swal("上架失败", result.message, "warning")
                }
            })
        });
    });
    /* 下架 */
    $(document).on('click', '.offline', function () {
        var id = $(this).data('id');
        swal({
            title: "确定下架?",
            text: "",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "确定",
            cancelButtonText: "取消",
            animation: "slide-from-top",
            closeOnConfirm: false,
            html: false
        }, function () {
            $.post('/admin/blessings/offline', {id:id}, function (result) {
                if (result.code === 200) {
                    location.reload();
                } else {
                    swal("下架失败", result.message, "warning")
                }
            })
        });
    });

    //默认加载
    writeList();
    //写列表ajax
    function writeList(data) {
        effect.show();
        data ? (data.type = 2) : data = {type: 2};
        $.get('/admin/blessings/list', data, function (result) {
            if (result.code == 200) {
                var list = result.result.rows;
                var count = result.result.count;
                $("table tbody").empty('');
                $.each(list, function (i, v) {
                    v.createdAt = moment(v.createdAt).format('YYYY年MM月DD日 HH:mm:ss')
                });
                $("#inittmpl")
                        .tmpl(list)
                        .appendTo("table tbody");
                options.totalPages = Math.ceil(count / 12);
                if (options.totalPages > 0) {
                    $('#page').bootstrapPaginator(options);
                } else {
                    $('#page').empty();
                }
                effect.hide();
            } else {
                effect.hide();
                effect.error('请求失败')
            }
        })
    }
</script>
<!-- 视频model -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title">
                    视频预览
                </h5>
            </div>
            <div class="modal-body">
                <div class="prism-player" id="J_prismPlayer"></div>
            </div>
        </div>
    </div>
</div>