<% include ../../inc/head.html%>
<script charset="utf-8" src="/kindeditor/kindeditor.js"></script>
<script charset="utf-8" src="/kindeditor/lang/zh_CN.js"></script>
<script charset="utf-8" src="/kindeditor/index.js"></script>
<% include ../../inc/editor_mode.html%>
<div class="container-fluid">
  <div class="row">
    <div class="sidebar">
      <% include ../../inc/left.html%>
    </div>
    <div class="main">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <ul class="list-inline">
              <li><a href="javascript:history.go(-1)"><span class="glyphicon glyphicon-chevron-left"></span>返回</a></li>
            </ul>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading"><b>添加新课程</b></div>
            <div class="panel-body" style="padding:15px 0">
              <form id="child_form">
                <div class="col-md-3" style="padding:0">
                  <div class="well">
                    <!-- <div class="form-group form-group-sm">
                      <label for="ac_attr" class="control-label">推荐位 <span> &nbsp;</span></label>
                      <label class="radio-inline">
                        <input type="radio" name="ac_attr" value="0" checked> 不推荐
                      </label>
                      <label class="radio-inline">
                        <input type="radio" name="ac_attr" value="1"> 推荐
                      </label>
                    </div> -->
                    <!--<div class="form-group form-group-sm">-->
                      <!--<label for="class_order" class="control-label">课程序号<span>*</span></label>-->
                      <!--<input type="text" name="class_order" placeholder="课程序号" class="form-control" required data-bv-trigger="blur" data-bv-notempty-message='必填项目'>-->
                    <!--</div>-->
                    <div class="form-group form-group-sm">
                      <label for="class_start" class="control-label">课程开始时间<span>*</span></label>
                      <input id="s" type="text" name="class_start" placeholder="课程开始时间" class="form-control" required data-bv-trigger="blur" data-bv-notempty-message='必填项目'>
                    </div>
                    <div class="form-group form-group-sm">
                      <label for="class_end" class="control-label">课程结束时间<span>*</span></label>
                      <input id="sn" type="text" name="class_end" placeholder="课程结束时间" class="form-control" required data-bv-trigger="blur" data-bv-notempty-message='必填项目'>
                    </div>
<!--                    <div class="form-group form-group-sm">
                      <label for="class_qustart" class="control-label">提问开始时间<span>*</span></label>
                      <input id="e" type="text" name="class_qustart" placeholder="提问开始时间" class="form-control" required data-bv-trigger="blur" data-bv-notempty-message='必填项目'>
                    </div>
                    <div class="form-group form-group-sm">
                      <label for="class_quend" class="control-label">提问结束时间<span>*</span></label>
                      <input id="n" type="text" name="class_quend" placeholder="提问结束时间" class="form-control" required data-bv-trigger="blur" data-bv-notempty-message='必填项目'>
                    </div>-->
                    <div class="form-group form-group-sm">
                      <label for="class_img" class="control-label">课程封面照<span><small>建议规格1021*472</small></span></label>
                      <div class="input-group input-group-sm">
                        <input type="text" name="class_img" placeholder="上传课程封面照" class="form-control" readonly>
                        <span class="input-group-btn">
                          <span class="btn btn-danger fileinput-button btn-sm">
                              <span>上传</span>
                              <input id="addImg" type="file" name="files[]" accept="image/*">
                          </span>
                        </span>
                      </div>
                    </div>
                    <div class="form-group form-group-sm">
                      <div class="progress" style="width: 100%;">
                        <div class="progress-bar" style="width: 0%;">
                        </div>
                      </div>
                    </div>
                    <div class="form-group form-group-sm">
                      <div class="thumbnail">
                        <img src=""  id="class_img_img">
                      </div>
                    </div>
                    <!--<div class="form-group form-group-sm">
                      <label for="class_back_pics" class="control-label">课程回顾展示图<span><small>建议规格</small></span></label>
                      <input type="hidden" name="class_back_pics" placeholder="课程回顾展示图" class="form-control" readonly value="public/groupdefault.png">
                      <div class="thumbnail">
                        <img id='class_back_pics_img' src="">
                      </div>
                    </div>-->
                  </div>
                </div>
                <div class="col-md-9" style="padding:0 0 0 15px">
                  <div  class="panel panel-danger">
                    <div class="panel-body">
                      <div class="row">
                        <div class="form-group form-group-sm col-md-6">
                          <label for="class_name" class="control-label">课程标题<span>* 28个字以内</span></label>
                          <input type="text" name="class_name" placeholder="课程名称" class="form-control" required data-bv-trigger="blur" data-bv-notempty-message='必填项目' pattern="^\S{1,28}$" data-bv-regexp-message='标题为28个以内汉字'>
                        </div>
                        <div class="form-group form-group-sm col-md-6">
                          <label for="class_summary" class="control-label">课程介绍(分享使用)<span>*</span></label>
                          <input type="text" name="class_summary" placeholder="课程介绍" class="form-control" required data-bv-trigger="blur" data-bv-notempty-message='必填项目'>
                        </div>
                        <div class="form-group form-group-sm col-md-12">
                          <span class="btn btn-danger btn-sm addTeacher">
                            <span class="glyphicon glyphicon-plus"></span>添加讲师
                          </span>
                          <span style="color: red">*至少添加一位</span>
                        </div>
                        <div class="form-group form-group-sm col-md-12">
                          <ul class="list-group" id="options">

                          </ul>
                        </div>
                        <div class="form-group form-group-sm col-md-12">
                          <div id="group_editor">
                            <label for="class_content" class="control-label">课程预告</label>
                            <textarea id="class_content" name="class_content" value='' style="width:100%;height:240px;" class="setEditor"></textarea>
                          </div>
                        </div>
                        <div class="form-group form-group-sm col-md-12">
                          <div class="">
                            <button type="submit" class="btn btn-danger btn-submit">提交</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(function(){
    var goodsid=location.search.substr(9);
    //时间
    $("#s").datetimepicker({
      step:30,
      lang:'ch',
      minDate:0,
      onSelectTime:function(){
        var current=$("#s").val();
        var emaxdate=moment($("#s").val()).subtract('days', 3).format("YYYY/MM/DD");
        var emindate=moment($("#s").val()).format("YYYY/MM/DD");
        var nmaxdate=moment($("#s").val()).format("YYYY/MM/DD");
        var nmindate=moment($("#s").val()).format("YYYY/MM/DD");
        var nmaxtime=moment($("#s").val()).format("HH:mm");
        var nmintime=moment($("#s").val()).subtract('hour', 0).format("HH:mm");
        var snmintime=moment($("#s").val()).add('hour', 2).format("HH:mm");

        $("#e").val(moment($("#s").val()).subtract('days', 3).format("YYYY-MM-DD HH:mm"));
        $("#n").val(moment($("#s").val()).subtract('hour', 0).format("YYYY-MM-DD HH:mm"));
        $("#sn").val(moment($("#s").val()).add('hour', 2).format("YYYY-MM-DD HH:mm"));

//        $("#e").datetimepicker({minDate:emaxdate,maxDate:emindate,step:30,lang:'ch'});
//        $("#n").datetimepicker({minDate:nmaxdate,maxDate:nmindate,minTime:nmintime,maxTime:nmaxtime,step:30,lang:'ch'});
        $("#sn").datetimepicker({minDate:nmaxdate,minTime:snmintime,step:30,lang:'ch'});
      }
    });
    $("#e").datetimepicker({step:30,lang:'ch'});
    $("#n").datetimepicker({step:30,lang:'ch'});
    //验证提交
    $('#child_form').bootstrapValidator().on('success.form.bv', function(e) {
      e.preventDefault();
      var $form = $(e.target),
      validator = $form.data('bootstrapValidator');
      $("#class_content").val(editor[0].html())
      var data=$('#child_form').serializeArray();
      var class_teacher=option();
      if(!class_teacher){
        effect.error('请添加讲师')
        return
      }
      data.push({name:'class_goodsid',value:goodsid});
      data.push({name:'class_teacherid',value:class_teacher});
      data.push({name:'class_teacher',value:class_teacher});
      $.post("/admin/child_create",data,function(result){
        if(result.code==200){
          effect.success(function(){
            location.href="/admin/goods/child?goodsid="+goodsid;
          })
        }else{
          effect.error(result.message)
        }
      })
    });
    //课程图片
    newupload('addImg','class_img',function(err,result){
      if (err){
        effect.error(err);
      }else {
        $('input[name="'+result.src+'"]').val(result.message.name);
        $("#"+result.src+"_img").attr("src",result.message.url);
      }
    });
    //课程回顾class_back_pics
    newupload('class_back_pics_img','class_back_pics',function(err,result){
      if (err){
        effect.error(err);
      }else {
        $('input[name="'+result.src+'"]').val(result.message.name);
        $("#"+result.src+"_img").attr("src",result.message.url);
      }
    });
    //讲师相关   打开讲师列表
    $('.addTeacher').on('click', function(event) {
      $("#modal_tea").modal('show');
      writeList({type:1});
    });
    //添加讲师
    $(document).on('click', '.addTea', function(event) {
      var name=$(this).data('name');
      var pics=$(this).data('pics');
      var id=$(this).data('id');
      var row=new Date().getTime();
      var data={name:name,pics:pics,row:row,id:id};
      $("#addtmpl")
              .tmpl(data)
              .appendTo("#options");
      $("#modal_tea").modal('hide');
    });
    //搜索
    $('#tea_find').on('click',function(){
      var data=$('.select_form').serializeArray();
      data.push({name:'type',value:1});
      options.currentPage=1;
      writeList(data);
    })
    //删除选项
    $('body').on('click','.delTea',function(){
      event.preventDefault();
      var id=$(this).attr('data-id');
      $('#row_'+id).remove()
    });
    //分页初始值
    var options = {
      currentPage: 1,//当前页数
      totalPages: 0,//总页数
      numberOfPages: 12,//做多显示page页
      bootstrapMajorVersion: 1,//版本
      alignment: "center",
      onPageClicked: function (e, originalEvent, type, page) {
        if (page > options.totalPages) {
          options.currentPage = options.totalPages;
        } else {
          options.currentPage = page;
        }
        var data=$('.select_form').serializeArray();
        data.push({name:'type',value:1});
        data.push({name:'page',value:page});
        writeList(data)
      }
    };
    //写列表ajax
    function writeList(data){
      effect.show();
      $.get('/admin/students_ajax',data,function(result){
        if(result.code==200){
          $("table tbody").empty('');
          $("#inittmpl")
                  .tmpl(result.message.list)
                  .appendTo("table tbody");
          options.totalPages=result.message.pagecount;
          if (options.totalPages > 0) {
            $('#page').bootstrapPaginator(options);
          } else {
            $('#page').empty();
          }
          effect.hide();
        }else{
          effect.hide();
          effect.error('请求失败')
        }
      })
    };
    //获取讲师id
    function option(){
      var arr=[];
      var json={};
      var res=[];
      $('#options').find('.list-group-item').each(function(i,v){
        var id=$(v).data('id');
        arr.push(id);
      });
//      数组去重复
      for(var i = 0; i < arr.length; i++){
        if(!json[arr[i]]){
          res.push(arr[i]);
          json[arr[i]] = 1;
        }
      }
      return res.join(',')
    }
  })
</script>
<script id="inittmpl" type="text/x-jquery-tmpl">
  <tr>
    <td><img class="img-circle" {{if m_pics}}src="<%=aly%>/${m_pics}"{{/if}} width="45" height="45" ></td>
    <td>${m_name}</td>
    <td>${m_desc}</td>
    <td class="text-center">
    <div class="btn-group">
      <a class="btn btn-info btn btn-xs addTea" data-name='${m_name}' data-id="${mid}" data-pics={{if m_pics}}'<%=aly%>/${m_pics}'{{/if}}> 添加</a>
    </div>
    </td>
  </tr>
</script>
<script id="addtmpl" type="text/x-jquery-tmpl">
  <li class="list-group-item" id="row_${row}" data-id="${id}">
    <img class="img-circle" src="${pics}" width="45" height="45" >
    ${name}
    <span class="badge danger delTea" data-id="${row}" style="cursor:pointer">删除</span>
  </li>
</script>
<!-- 视频model -->
<div class="modal fade" id="modal_tea" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h5 class="modal-title">
          选择讲师
        </h5>
      </div>
      <div class="modal-body">
        <form class="form-inline select_form" style="margin-bottom:15px;">
          <div class="form-group form-group-sm">
            <div class="input-group input-group-sm">
              <input type="text" name="m_name" class="form-control input-sm" placeholder="讲师姓名" />
                <span class="input-group-btn">
                <span type="button" class="btn btn-danger" id="tea_find">查询</span>
            </div>
          </div>
        </form>
        <table class="table table-striped table-condensed">
          <thead>
          <tr>
            <th style="width:80px">头像</th>
            <th style="width:80px">讲师姓名</th>
            <th style="width:180px">讲师简介</th>
            <th style="width:120px" class="text-center">操作</th>
          </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
        <div id="page"></div>
      </div>
    </div>
  </div>
</div>
<% include ../../inc/footer.html%>
