<% include ../inc/head.html%>
<script src="/javascripts/js/aliyun-sdk.min.js"></script>
<script src="/javascripts/js/vod-sdk-upload.min.js"></script>
<script src="/javascripts/js/month.js"></script>
<script src="/javascripts/js/clipboard.min.js"></script>
<link rel="stylesheet" href="http://g.alicdn.com/de/prismplayer/1.4.7/skins/default/index-min.css" />
<script type="text/javascript" src="http://g.alicdn.com/de/prismplayer/1.4.7/prism-flash-min.js"></script>
<div class="container-fluid">
    <div class="row">
        <div class="sidebar">
            <% include ../inc/left.html%>
        </div>
        <div class="main">
            <div>
                <div class="pull-left">
                    <ul class="list-inline">
                        <li>
                            <input id="files" type="file" style="display:none" accept="video/*,audio/*">
                            <div class="input-append">
                                <a class="btn btn-danger btn-sm" onclick="$('input[id=files]').click();">上传视频</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="progress" style="width: 100%;margin:0 auto";>
                <div class="progress-bar" style="width: 0%;">
                </div>
            </div>
            <table class="table table-striped table-condensed">
                <thead>
                <tr>
                    <th style="width:40px">#</th>
                    <th>标题</th>
                    <th style="width:240px">状态</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
            <div id="page"></div>
        </div>
    </div>
</div>
<script>
    $(function(){
        var m=moment().format('YYYY-MM-DD')
        var uploader = new VODUpload({
            // 文件上传失败
            'onUploadFailed': function (fileName, code, message) {
                console.log("onUploadFailed: " + fileName + code + "," + message);
            },
            // 文件上传完成
            'onUploadSucceed': function (fileName) {
                $.post('/upload_video',{path:'inputfile/'+m+'/'+fileName},function(result){
                    if(result.code==200){
                        effect.success('上传成功',function(){
                            writeList();
                            $(".progress-bar").html('').css("width",'0%');
                        })
                    }
                })
                console.log(fileName)
                console.log("onUploadSucceed: " + fileName);
            },
            // 文件上传进度
            'onUploadProgress': function (fileName, totalSize, uploadedSize) {
                $(".progress-bar").html(Math.ceil(uploadedSize * 100 / totalSize) + '%').css("width",Math.ceil(uploadedSize * 100 / totalSize) + '%');
                console.log("file:" + fileName + ", " + totalSize, uploadedSize, "percent:", Math.ceil(uploadedSize * 100 / totalSize));
            },
            // token超时
            'onUploadTokenExpired': function (callback) {
                console.log("onUploadTokenExpired");
            }
        });

        uploader.init("LTAIaXMja3oR8aOV", "uadOQf55ZeZjQe98eyp98Wfu8rkO4P");
        document.getElementById("files")
                .addEventListener('change', function (event) {
                    for(var i=0; i<event.target.files.length; i++) {
                        uploader.addFile(event.target.files[i], 'http://oss-cn-beijing.aliyuncs.com', 'gejumedia', 'inputfile/'+m+'/'+event.target.files[i].name);
                    }

                    uploader.startUpload();
                });


        //列表部分
        //分页初始值
        var options = {
            currentPage: 1,//当前页数
            totalPages: 0,//总页数
            numberOfPages: 12,//做多显示page页
            bootstrapMajorVersion: 1,//版本
            alignment: "center",
            onPageClicked: function (e, originalEvent, type, page) {
                if (page > options.totalPages) {
                    options.currentPage = options.totalPages;
                } else {
                    options.currentPage = page;
                }
                writeList({page:page})
            }
        };
        //默认加载
        writeList();
        $('.search').on('click',function(){
            var data=$('.search-form').serializeArray();
            options.currentPage=1;
            writeList(data);
        });
        //写列表ajax
        function writeList(data){
            effect.show();
            $.get('/admin/attach_list',data,function(result){
                if(result.code==200){
                    $("table tbody").empty('');
                    $("#inittmpl")
                            .tmpl(result.message.list)
                            .appendTo("table tbody");
                    options.totalPages=result.message.pagecount;
                    if (options.totalPages > 0) {
                        $('#page').bootstrapPaginator(options);
                    } else {
                        $('#page').empty();
                    }
                    effect.hide();
                }else{
                    effect.hide();
                    effect.error('请求失败')
                }
            })
        };
        $(document).on('click','.Play',function(){
            $("#modal").modal('show');
            var source=$(this).data('path')
            //播放器设置
            var player = new prismplayer({
                id: "J_prismPlayer", // 容器id
                source: decodeURI(source),  // 视频url 支持互联网可直接访问的视频地址
                autoplay: true,      // 自动播放
                width: "100%",       // 播放器宽度
                height: "400px"      // 播放器高度
            });
        })
        //初始化拷贝
        var clipboard = new Clipboard('.btn-copy');

        clipboard.on('success', function(e) {
            effect.success('播放地址已复制')
//            console.log(e);
        });

        clipboard.on('error', function(e) {
            effect.error('复制出错')
            console.log(e);
        });

    })
</script>
<script id="inittmpl" type="text/x-jquery-tmpl">
  <tr>
    <td>${index}</td>
    <td><a href="javascript:void(0)" data-path='${attach_path}' class="Play"> ${attach_title}</a>
    <a href="javascript:void(0)"> <span class="label label-info btn-copy" data-clipboard-action="copy" data-clipboard-text="${attach_path}">复制地址</span></a></td>
    <td>
    {{if attach_status==0}}
    转码成功
    {{else attach_status==1}}
    转码中
    {{else}}
    转码失败
    {{/if}}
    </td>
  </tr>
</script>
<!-- 视频model -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title">
                    视频预览
                </h5>
            </div>
            <div class="modal-body">
                <div class="prism-player" id="J_prismPlayer"></div>
            </div>
        </div>
    </div>
</div>
<% include ../inc/footer.html%>

