<% include ../../../inc/head.html%>
<script src="https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.js"></script>
<script type="text/javascript" src="/javascripts/js/masonry.js"></script>
<link rel="stylesheet" href="http://g.alicdn.com/de/prismplayer/1.4.7/skins/default/index-min.css" />
<script type="text/javascript" src="http://g.alicdn.com/de/prismplayer/1.4.7/prism-flash-min.js"></script>
<div class="container-fluid">
  <div class="row">
    <div class="sidebar">
      <% include ../../../inc/left.html%>
    </div>
    <div class="main">
      <div>
        <div class="pull-left">
          <ul class="list-inline">
            <li><a href="javascript:history.go(-1)"><span class="glyphicon glyphicon-chevron-left"></span>返回</a></li>
            <li><small style="color: red"></small></li>
          </ul>
        </div>
        <div class="pull-right">
        </div>
        <div class="clearfix"></div>
      </div>
      <table class="table table-hover table-striped table-condensed" id="initTable">
        <form id='prd_form' class="form-horizontal">
          <thead>
          <tr>
            <!--<td style="width: 180px"><input type="text" class="form-control input-sm" name="prd_auther"  placeholder="作者" required data-bv-trigger="blur" data-bv-notempty-message='必填项目'></td>-->
            <td style="width: 180px" colspan="2"><input type="text" class="form-control input-sm" name="prd_title"  placeholder="标题" required data-bv-trigger="blur" data-bv-notempty-message='必填项目'></td>
            <td style="width: 180px" ><input type="text" class="form-control input-sm" name="prd_desc"  placeholder="排序" required data-bv-trigger="blur" data-bv-notempty-message='必填项目'></td>
          </tr>
          <tr>
            <td style="width:180px">
              <div class="input-group input-group-sm">
                <input type="hidden" name="prdattachid">
                <input type="hidden" class="form-control input-sm" name="attachid"  placeholder="id" required data-bv-trigger="blur" data-bv-notempty-message='必填项目'>
                <input type="text" name="path" placeholder="视频路径" class="form-control input-sm"  readonly required data-bv-trigger="blur" data-bv-notempty-message='必填项目'>
                <span class="input-group-btn">
                  <span class="btn btn-danger fileinput-button btn-sm addVideo">
                      <span>选择</span>
                  </span>
                </span>
              </div>
            </td>
            <td style="width:180px">
              <div class="input-group input-group-sm">
                <input id="addImg" type="file" name="files[]" accept="image/*" style="display: none">
                <input type="text" name="prd_pics" placeholder="图片路径" class="form-control input-sm"  readonly required data-bv-trigger="blur" data-bv-notempty-message='必填项目'>
                <span class="input-group-btn">
                  <span class="btn btn-danger fileinput-button btn-sm" onclick="$('input[id=addImg]').click();">
                      <span>上传</span>
                  </span>
                </span>
              </div>
            </td>
            <td class="text-center" style="width: 180px"><span class="btn-group"><button class="btn btn-success btn-sm" type="submit">保存</button></span></td>
          </tr>
          </thead>
        </form>
        <tbody>

        </tbody>
      </table>
    </div>
  </div>
</div>
<script>
  $(function(){
    var prdid='<%=id%>';
    var type=40;
    //验证提交
    $('#prd_form').bootstrapValidator().on('success.form.bv', function(e) {
      e.preventDefault();
      var $form = $(e.target),
              validator = $form.data('bootstrapValidator');
      var data=$('#prd_form').serializeArray();
      data.push({name:'prdid',value:prdid});
      data.push({name:'prd_type',value:type});
      $.post("/admin/class/video_create",data,function(result){
        if(result.code==200){
          effect.success(function(){
            location.reload()
          })
        }else{
          effect.error(result.message)
        }
      })
    });
    //默认加载
    writeList({id:prdid,type:type});
    //写列表ajax
    function writeList(data){
      effect.show();
      $.get('/admin/class/video_list_ajax',data,function(result){
        console.log(result)
        if(result.code==200){
          $("#initTable tbody").empty('');
          $("#inittmpl")
                  .tmpl(result.message.list)
                  .appendTo("#initTable tbody");
          effect.hide();
        }else{
          effect.hide();
          effect.error('请求失败')
        }
      })
    };
    //修改
    $(document).on('click','.prdEdit',function(){
      var data=$(this).data();
//      $('input[name="prd_auther"]').val(data.auther);
      $('input[name="prd_desc"]').val(data.desc);
      $('input[name="prd_title"]').val(data.title);
      $('input[name="attachid"]').val(data.attachid);
      $('input[name="prdattachid"]').val(data.prdattachid)
      $('input[name="path"]').val(data.path)
      $('input[name="prd_pics"]').val(data.pics)
    });
    //删除
    $(document).on('click','.prdDel',function(){
      var data=$(this).data();
      $.post('/admin/class/video_update',{id:data.prdattachid},function(result){
        if(result.code==200){
          effect.success(function(){
            writeList({id:prdid,type:type});
          });
        }else{
          effect.error();
        }
      })
    })
    //视频列表
    $('.addVideo').on('click', function(event) {
      $("#modal_video").modal('show');
      writeListVideo({});
    });
    //添加讲师
    $(document).on('click', '.addToVideo', function(event) {
      var data=$(this).data()
      $('input[name="attachid"]').val(data.attachid)
      $('input[name="path"]').val(data.path)
      $("#modal_video").modal('hide');
    });
    //搜索
    $('#video_find').on('click',function(){
      var data=$('.select_form').serializeArray();
      options.currentPage=1;
      writeListVideo(data);
    })
    //分页初始值
    var options = {
      currentPage: 1,//当前页数
      totalPages: 0,//总页数
      numberOfPages: 12,//做多显示page页
      bootstrapMajorVersion: 1,//版本
      alignment: "center",
      onPageClicked: function (e, originalEvent, type, page) {
        if (page > options.totalPages) {
          options.currentPage = options.totalPages;
        } else {
          options.currentPage = page;
        }
        var data=$('.select_form').serializeArray();
        data.push({name:'type',value:1});
        data.push({name:'page',value:page});
        writeListVideo(data)
      }
    };
    //写列表ajax
    function writeListVideo(data){
      effect.show();
      $.get('/admin/attach_list',data,function(result){
        if(result.code==200){
          $(".video tbody").empty('');
          $("#inittmplvideo")
                  .tmpl(result.message.list)
                  .appendTo(".video tbody");
          options.totalPages=result.message.pagecount;
          if (options.totalPages > 0) {
            $('#page').bootstrapPaginator(options);
          } else {
            $('#page').empty();
          }
          effect.hide();
        }else{
          effect.hide();
          effect.error('请求失败')
        }
      })
    };
    //上传图片
    newupload('addImg','prd_pics',function(err,result){
      if (err){
        effect.error(err);
      }else {
        $('input[name="'+result.src+'"]').val(result.message.name);
//        $("#"+result.src+"_img").attr("src",result.message.url);
      }
    });
    //视频模仿
    $(document).on('click','.Play',function(){
      $("#modal").modal('show');
      var source=$(this).data('path')
      //播放器设置
      var player = new prismplayer({
        id: "J_prismPlayer", // 容器id
        source: source,  // 视频url 支持互联网可直接访问的视频地址
        autoplay: true,      // 自动播放
        width: "100%",       // 播放器宽度
        height: "400px"      // 播放器高度
      });
    })
  });
</script>
<script id="inittmpl" type="text/x-jquery-tmpl">
<tr>
<!--  <td>
    ${prd_auther}
  </td>-->
  <td colspan="2">
    ${prd_title}
  </td>
  <td>
    ${prd_desc}
  </td>
</tr>
<tr>
  <td>
  <a href="javascript:void(0)" data-path='${attach_path}' class="Play">${source_attach_path}</a>
  </td>
  <td>
  <a href="${prd_pics}" target="_blank">${source_prd_pics}</a>
  </td>
  <td class="text-center">
  <span class="btn-group">
  <button class="btn btn-info btn-xs prdEdit" data-pics='${source_prd_pics}' data-auther='${prd_auther}' data-desc='${prd_desc}' data-path='${source_attach_path}' data-attachid='${attachid}' data-prdattachid='${prdattachid}' data-title="${prd_title}">修改</button>
  <button class="btn btn-success btn-xs prdDel" data-prdattachid='${prdattachid}'>删除</button>
  </span>
  </td>
</tr>
</script>
<script id="inittmplvideo" type="text/x-jquery-tmpl">
<tr>
  <td><a href="javascript:void(0)" data-path='${attach_path}' class="Play"> ${attach_title}</td>
  <td class="text-center">
  <span class="btn-group">
  <button class="btn btn-info btn-xs addToVideo" data-attachid='${attachid}' data-path='${source_attach_path}' >添加</button>
  </span>
  </td>
</tr>
</script>
<!-- 视频model -->
<div class="modal fade" id="modal_video" tabindex="-10" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h5 class="modal-title">
          选择视频
        </h5>
      </div>
      <div class="modal-body">
        <form class="form-inline select_form" style="margin-bottom:15px;">
          <div class="form-group form-group-sm">
            <div class="input-group input-group-sm">
              <input type="text" name="attach_title" class="form-control input-sm" placeholder="视频名称" />
                <span class="input-group-btn">
                <span type="button" class="btn btn-danger" id="video_find">查询</span>
            </div>
          </div>
        </form>
        <table class="table table-striped table-condensed video">
          <thead>
          <tr>
            <th >视频名称</th>
            <th style="width:80px" class="text-center">操作</th>
          </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
        <div id="page"></div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h5 class="modal-title">
          视频预览
        </h5>
      </div>
      <div class="modal-body">
        <div class="prism-player" id="J_prismPlayer"></div>
      </div>
    </div>
  </div>
</div>
<% include ../../../inc/footer.html%>
