<% include ../inc/head.html%>
<link rel="stylesheet" href="/stylesheets/css/dataTables.bootstrap.min.css">
<link rel="stylesheet" href="/stylesheets/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="/stylesheets/css/buttons.bootstrap.min.css">
<style>
    .dataTables_wrapper .dataTables_paginate .paginate_button {
        padding: 0;
    }

    .dt-buttons {
        float: left;
    }

    .dt-buttons .buttons-excel {
        color: #333;
        background-color: #fff;
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .file_container {
        position: relative;
    }

    .file_container input {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 2;
        opacity: 0;
        left: 0;
        top: 0;
    }
</style>
<script src="/javascripts/js/jquery.dataTables.min.js"></script>
<script src="/javascripts/js/dataTables.bootstrap.min.js"></script>
<script src="/javascripts/js/dataTables.buttons.min.js"></script>
<script src="/javascripts/js/buttons.flash.min.js"></script>
<script src="/javascripts/js/aliyun-sdk.min.js"></script>
<script src="/javascripts/js/vod-sdk-upload.min.js"></script>
<script type="text/javascript" src="http://g.alicdn.com/de/prismplayer/1.4.7/prism-flash-min.js"></script>

<div ng-controller="HotelManageController" class="container-fluid">
    <div class="row">
        <div class="sidebar">
            <% include ../inc/left.html%>
        </div>
        <div class="main">
            <div class="row">
                <div class="col-md-12">

                    <div class="form-group">
                        <ul class="list-inline">
                            <li><a href="javascript:history.go(-1)"><span
                                    class="glyphicon glyphicon-chevron-left"></span>返回</a></li>
                        </ul>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading"><b><%= title %></b></div>
                        <div class="panel-body" style="padding:15px 0">
                            <div class="col-md-12">
                                <button ng-click="create_hotel()" id="create_hotel" type="button"
                                        class="btn btn-sm btn-info">
                                    新建
                                </button>
                            </div>
                            <hr class="ke-hr">
                            <div class="row">
                                <div class="col-md-12">
                                    <table id="example" class="table table-striped table-bordered" cellspacing="0"
                                           width="100%">
                                        <thead>
                                        <tr>
                                            <th>封面图</th>
                                            <th>酒店名称</th>
                                            <th>联系电话</th>
                                            <th>餐费(人)</th>
                                            <th>所在地</th>
                                            <th>操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span
                            class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">添加酒店</h4>
                </div>
                <div class="modal-body">
                    <form id="create_form" name="hotel_room" role="form">

                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-6 col-md-6 col-lg-6 col-md-6">
                                    <div ng-class="hotel_room.name.$error.required ? 'form-group has-error' : 'form-group'">
                                        <input ng-model="data.id" type="hidden" name="id" class="form-control" id="id"
                                               placeholder="ID">
                                        <label for="name">酒店名称</label>
                                        <input ng-model="data.name" type="text" name="name" class="form-control" id="name"
                                               placeholder="酒店名称" required>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-md-6 col-lg-6 col-md-6">
                                    <div>
                                        <label for="phone">联系电话</label>
                                        <input ng-model="data.phone" type="text" name="phone"
                                               class="input_date form-control" id="phone"
                                               placeholder="联系电话" required>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-4 col-md-4 col-lg-4 col-md-4">
                                    <div>
                                        <label for="meals">用餐价格(人)</label>
                                        <input ng-model="data.meals" id="meals" class="form-control" type="number" name="meals" min="0" required>
                                    </div>
                                </div>
                                <div class="col-xs-4 col-md-4 col-lg-4 col-md-4">
                                    <div ng-class="hotel_room.province.$error.required ? 'form-group has-error' : 'form-group'">
                                        <label for="province">省/市</label>
                                        <select ng-model="data.province" ng-change="province_change(data.province)" ng-options="v.name as v.name for v in province" name="province" id="province" class="form-control" required></select>
                                    </div>
                                </div>
                                <div class="col-xs-4 col-md-4 col-lg-4 col-md-4">
                                    <div ng-class="hotel_room.city.$error.required ? 'form-group has-error' : 'form-group'">
                                        <label for="city">县/区</label>
                                        <select ng-model="data.city" ng-options="v.name as v.name for v in city" name="city" id="city" class="form-control" required></select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div>
                            <label for="introduce">酒店介绍</label>
                            <textarea ng-model="data.introduce" class="form-control" name="introduce" id="introduce"
                                      rows="4" required maxlength="1000"></textarea>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-6 col-md-6 col-lg-6 col-md-6">
                                    <a ng-show="data.cover_photo" href="javascript: void 0;" class="thumbnail">
                                        <img src="{{ 'http://gejubusinessbucket.oss-cn-beijing.aliyuncs.com/' + data.cover_photo }}"
                                             alt="封面图">
                                        <input ng-model="data.cover_photo" type="hidden" name="cover_photo" required>
                                    </a>
                                </div>
                                <div class="col-xs-6 col-md-6 col-lg-6 col-md-6">
                                    <div>
                                        <button id="upload_image"
                                                class="btn btn-sm btn-warning"
                                                type="button">上传图片</button>
                                    </div>
                                    <p class="help-block">
                                        <small ng-show="!data.cover_photo" class="text-danger">请上传图片</small>
                                        <small>最大1M，只支持jpg,gif,png,这可能需要10s-15s</small>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div ng-if="!data.id" class="form-group">
                            <label>房间信息</label>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>房型</th>
                                    <th>床位(间)</th>
                                    <th>价格(间)</th>
                                    <th>数量</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="room in data.Rooms">
                                    <td>{{room.name}}</td>
                                    <td>{{room.bed}}</td>
                                    <td>
                                        <div ng-class="hotel_room.room_price_{{$index}}.$error.required ? 'form-group has-error' : 'form-group'">
                                            <input ng-model="room.price" name="room_price_{{$index}}"
                                                   type="number" class="form-control" placeholder="价格(间)" required>
                                        </div>
                                    </td>
                                    <td>
                                        <div ng-class="hotel_room.room_count_{{$index}}.$error.required ? 'form-group has-error' : 'form-group'">
                                            <input ng-model="room.count" name="room_count_{{$index}}"
                                                   type="number" class="form-control" placeholder="数量" required>
                                        </div>
                                    </td>
                                    <td>
                                        <button ng-click="remove_room(room, $index)" type="button" class="btn btn-danger btn-sm">
                                            <span class="glyphicon glyphicon-minus"></span>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                                <tfoot>
                                <tr>
                                    <td><input ng-model="room.name" name="room_name_add" type="text" class="form-control" placeholder="房型"></td>
                                    <td><input ng-model="room.bed" name="room_bed_add" type="number" class="form-control" placeholder="床位(间)"></td>
                                    <td><input ng-model="room.price" type="number" class="form-control" placeholder="价格(间)"></td>
                                    <td><input ng-model="room.count" type="number" class="form-control" placeholder="数量"></td>
                                    <td>
                                        <button ng-click="add_room()" type="button" class="btn btn-success btn-sm">
                                            确定添加
                                        </button>
                                    </td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button ng-disabled="hotel_room.$invalid" ng-click="submit()" type="button" class="btn btn-success" id="create">保存</button>
                </div>
            </div>
        </div>
    </div>
</div>
<% include ../inc/footer.html%>
<script>
    angular.module('cms')
            .service('HotelManageService', function ($http) {
                this.new_hotel = function () {
                    return {
                        name: '',
                        phone: '',
                        introduce: '',
                        cover_photo: '',
                        meals: '',
                        Rooms: []
                    };
                };
                this.new_room = function () {
                    return {
                        name: '',
                        count: '',
                        bed: '',
                        price: '',
                        //hotel: '' //酒店ID
                    }
                };
                this.city = function () {
                    return $http({
                        url: '/city',
                        method: 'GET'
                    })
                };
                this.delete_activity = function (id) {
                    return $http({
                        url: '/admin/hotel/delete',
                        method: 'POST',
                        data: {id: id}
                    })
                };
                this.create = function (data) {
                    return $http({
                        url: '/admin/hotel/create',
                        method: 'POST',
                        data: data
                    })
                };
                this.update = function (data) {
                    delete data.updated_at;
                    delete data.created_at;
                    delete data.deleted_at;
                    delete data.Rooms;
                    return $http({
                        url: '/admin/hotel/update',
                        method: 'POST',
                        data: data
                    })
                }
            })
            .controller('HotelManageController', function ($scope, $compile, HotelManageService) {
                //初始化datatables
                $('#example tbody').on('click', 'td.details-control', function () {
                    var tr = $(this).closest('tr');
                    var row = table.row( tr );
                    if ( row.child.isShown() ) {
                        // This row is already open - close it
                        row.child.hide();
                        tr.removeClass('shown');
                    }
                    else {
                        // Open this row
                        row.child( format(row.data()) ).show();
                        tr.addClass('shown');
                    }
                } );
                function format ( data ) {
                    var rooms = data.Rooms;
                    var html = '<table class="table" cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">'+
                            '<thead><tr><td>房间</td><td>价格</td><td>数量</td></tr></thead>' +
                            '<tbody>';
                    _.forEach(rooms, function (room) {
                        html += '<tr>'+
                                    '<td>'+room.name+'</td>'+
                                    '<td>'+room.price+'</td>'+
                                    '<td>'+room.count+'</td>'+
                                '</tr>';
                    });
                    return  html += '</tbody>'+
                            '</table>' +
                            '<p class="text-left text-success">'+data.introduce+'</p>';
                }
                var table = $('#example').DataTable({
                    "ajax": {
                        "url": "/admin/hotel/list",
                        "dataSrc": 'result.list'
                    },
                    "columns": [
                        {"data": "cover_photo"},
                        {
                            "class": 'details-control',
                            "orderable": false,
                            "data": "name",
                            "defaultContent": ''
                        },
                        {"data": "phone"},
                        {"data": "meals"},
                        {"data": "province"},
                        {"data": "id"}
                    ],
                    "aaSorting": [
                        [3, "desc"]
                    ],
                    "columnDefs": [
                        {
                            "bSortable": false,
                            "targets": 0,
                            "render": function (data, type, row) {
                                return '<div class="media"><div class="media-left">' +
                                        '<a href="javascript: void 0;"><img class="media-object" style="width: 100px; height: 100px" src="//files.geju.com/' + data + '" alt="' + row.name + '"></a>' +
                                        '</div></div>';
                            }
                        },
                        {
                            "bSortable": false,
                            "targets": 1,
                            "render": function (data, type, row) {
                                return '<a href="javascript: void 0;" class="btn btn-link">' + data + '</a>';
                            }
                        },
                        {
                            "targets": 4,
                            "render": function (data, type, row) {
                                return data === row.city ? row.city : data + ' ' + row.city;
                            }
                        },
                        {
                            "bSortable": false,
                            "targets": 5,
                            "render": function (data, type, row) {
                                return '<a href="javascript: void 0;" data-ng-click="edit_activity($event, ' + data + ')" class="btn btn-warning">编辑</a>' +
                                        '<a href="/hotel/room?id=' + row.id + '"  class="btn btn-info">房间管理</a>' +
                                        '<a href="javascript: void 0;" data-ng-click="delete_activity($event, \'' + data + '\',\'' + row.name + '\')" class="btn btn-danger">删除</a>';

                            }
                        }
                    ],
                    "createdRow": function (row, data, index) {
                        $compile(angular.element(row).contents())($scope);
                    },
                    "oLanguage": {
                        "sUrl": "/table_language.json"
                    },
                    "dom": 'Bfrtip',
                    "buttons": [
                        'excel'
                    ],
                    "deferRender": true
                });
                /* 打开模态框 */
                $scope.create_hotel = function () {
                    $scope.data = HotelManageService.new_hotel();
                    $scope.room = HotelManageService.new_room();
                    $('#myModal').modal();
                };
                HotelManageService.city().success(function (result) {
                    $scope.province = result.result.list;
                });
                $scope.$watch('data.province', function (value, o) {
                    angular.forEach($scope.province, function (v , i) {
                        if(v.name === value){
                            $scope.city = v.children
                        }
                    });
                });
                $scope.add_room = function () {
                    if($scope.room.bed < 0){
                        return swal("失败", '床位数量不能小于0', "error");
                    }
                    if($scope.room.price < 0){
                        return swal("失败", '床位数量不能小于0', "error");
                    }
                    if($scope.room.count < 0){
                        return swal("失败", '床位数量不能小于0', "error");
                    }
                    if(!/\S/.test($scope.room.name)){
                        return swal("失败", '房型与床位不能为空', "error");
                    }
                    $scope.data.Rooms.push(angular.copy($scope.room));
                    $scope.room = HotelManageService.new_room();
                };
                $scope.remove_room = function (room, index) {
                    if(room.id){
                        //TODO
                    }else {
                        _.remove($scope.data.Rooms, function (v, i) {
                            return i === index;
                        })
                    }
                };
                $scope.submit = function () {
                    var data = $scope.data;
                    if (data.id) {
                        HotelManageService.update(data).success(function () {
                            table.ajax.reload();
                            $('#myModal').modal('hide');
                        })
                    } else {
                        HotelManageService.create(data).success(function () {
                            table.ajax.reload();
                            $('#myModal').modal('hide');
                        })
                    }
                };
                $scope.edit_activity = function (event) {
                    var data = table.row($(event.target).parents('tr')).data();
                    angular.forEach(data.picture, function (v, i) {
                        data.picture[i] = v.replace(/http:\/\/.*?\//, '')
                    });

                    $scope.data = data;
                    $('#myModal').modal();
                };
                $scope.delete_activity = function (event, id, name) {
                    swal({
                        title: "确定删除 " + name + " ?",
                        text: "",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "确定",
                        cancelButtonText: "取消",
                        animation: "slide-from-top",
                        closeOnConfirm: true,
                        html: false
                    }, function () {
                        HotelManageService.delete_activity(id).success(function () {
                            table.row($(event.target).parents('tr')).remove().draw(false);
                        })
                    });
                };
                /* 上传图片逻辑 */
                newupload($('#upload_image')[0], '', function (err, result) {
                    if (err) {
                        swal("上传失败", err, "error");
                    } else {
                        $scope.$apply(function () {
                            $scope.data.cover_photo = result.message.name;
                        });
                    }
                });
            });
</script>