<% include ../inc/head.html%>
<script charset="utf-8" src="/kindeditor/kindeditor.js"></script>
<script charset="utf-8" src="/kindeditor/lang/zh_CN.js"></script>
<script charset="utf-8" src="/kindeditor/index.js"></script>
<script src="http://cdn.bootcss.com/plupload/2.1.7/plupload.full.min.js"></script>
<% include ../inc/editor_mode.html%>
<div class="container-fluid">
  <div class="row">
    <div class="sidebar">
      <% include ../inc/left.html%>
    </div>
    <div class="main">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <ul class="list-inline">
              <li><a href="javascript:history.go(-1)"><span class="glyphicon glyphicon-chevron-left"></span>返回</a></li>
            </ul>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading"><b>编辑公告</b></div>
            <div class="panel-body" style="padding:15px 0">
              <form id="notifics_form">
                <div class="col-md-3" style="padding:0">
                  <div class="well">
                    <div class="form-group form-group-sm">
                      <label for="not_stime" class="control-label">开始时间<span>*</span></label>
                      <input value="<%=item.not_stime%>" type="text" name="not_stime" placeholder="选择开始时间" class="form-control input_date" required data-bv-trigger="blur" data-bv-notempty-message='必填项目'>
                    </div>
                    <div class="form-group form-group-sm">
                      <label for="not_etime" class="control-label">结束时间<span>*</span></label>
                      <input value="<%=item.not_etime%>" type="text" name="not_etime" placeholder="选择结束时间" class="form-control input_date" required data-bv-trigger="blur" data-bv-notempty-message='必填项目'>
                    </div>
                    <div class="form-group form-group-sm">
                      <label for="not_pics" class="control-label">封面照<span><small>建议规格900*500</small></span></label>
                      <div class="input-group input-group-sm">
                        <input value="<%=item.not_pics%>" type="text" name="not_pics" placeholder="上传封面照" class="form-control" readonly>
                        <span class="input-group-btn">
                          <span class="btn btn-danger fileinput-button btn-sm">
                              <span>上传</span>
                              <input id="addImg" type="file" name="files[]" accept="image/*">
                          </span>
                        </span>
                      </div>
                    </div>
                    <div class="form-group form-group-sm">
                      <div class="progress" style="width: 100%;">
                        <div class="progress-bar" style="width: 0%;">
                        </div>
                      </div>
                    </div>
                    <div class="form-group form-group-sm">
                      <div class="thumbnail">
                        <img src="<%=aly%>/<%=item.not_pics%>"  id="not_pics_img">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-9" style="padding:0 0 0 15px">
                  <div  class="panel panel-danger">
                    <div class="panel-body">
                      <div class="row">
                        <div class="form-group form-group-sm col-md-12">
                          <label for="not_title" class="control-label">标题<span>*</span></label>
                          <input value="<%=item.not_title%>" type="text" name="not_title" placeholder="标题" class="form-control" required data-bv-trigger="blur" data-bv-notempty-message='必填项目'>
                        </div>
                        <div class="form-group form-group-sm col-md-12">
                          <label for="not_desc" class="control-label">描述<span>*</span></label>
                          <input value="<%=item.not_desc%>" type="text" name="not_desc" placeholder="描述" class="form-control" required data-bv-trigger="blur" data-bv-notempty-message='必填项目'>
                        </div>
                        <div class="form-group form-group-sm col-md-12">
                          <div id="group_editor">
                            <label for="not_content" class="control-label">主题内容</label>
                            <textarea id="not_content" name="not_content" value='' style="width:100%;height:320px;" class="setEditor"><%=item.not_content%></textarea>
                          </div>
                        </div>
                        <div class="form-group form-group-sm col-md-12">
                          <div class="">
                            <button type="submit" class="btn btn-danger btn-submit">提交</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  //功能
  $(function(){
    //时间
    $(".input_date").datetimepicker({
      step:1,
      lang:'ch',
    });
    //验证提交
    $('#notifics_form').bootstrapValidator().on('success.form.bv', function(e) {
      e.preventDefault();
      var $form = $(e.target),
              validator = $form.data('bootstrapValidator');
      $("#not_content").val(editor[0].html())
      var data=$('#notifics_form').serializeArray();
      var notid=location.search.substr(7)
      data.push({name:'notid',value:notid});
      $.post("/admin/notifics_update",data,function(result){
        if(result.code==200){
          effect.success(function(){
            location.href='/admin/notifics'
          })
        }else{
          effect.error(result.message)
        }
      })
    });
    //上传图片
    newupload('addImg','not_pics',function(err,result){
      if (err){
        effect.error(err);
      }else {
        $('input[name="'+result.src+'"]').val(result.message.name);
        $("#"+result.src+"_img").attr("src",result.message.url);
      }
    });
  })
</script>
<% include ../inc/footer.html%>
