<% include ../inc/head.html%>
<div class="container-fluid">
    <div class="row" ng-controller="RatingEditCtrl">
        <div class="sidebar">
            <% include ../inc/left.html%>
        </div>
        <div class="main">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="form-group">
                        <ul class="list-inline">
                            <li><a href="javascript:history.go(-1)"><span
                                    class="glyphicon glyphicon-chevron-left"></span>返回</a></li>
                        </ul>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading"><b>评价表</b></div>
                        <div class="panel-body" style="padding:15px 0">
                            <form id="media_form">
                                <div class="col-md-12 col-sm-12" style="padding:0 0 0 15px">
                                    <div class="panel panel-danger">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="form-group col-md-12 col-sm-12">
                                                    <label for="media_title"
                                                           class="control-label">评价表名称<span>*</span></label>
                                                    <input ng-model="data.name" type="text" name="media_title" placeholder="评价表名称"
                                                           class="form-control" required data-bv-trigger="blur"
                                                           data-bv-notempty-message='必填项目'>
                                                </div>
                                                <div class="form-group col-md-6 col-sm-6">
                                                    <label for="lesson_class" class="control-label">选择课程班
                                                        <span>
                                                            <small>进行课程评价为必选项，如果用于公开调查表使用可以不选</small>
                                                        </span>
                                                    </label>
                                                    <select ng-change="goods_change()" ng-options="good.goods_name as good.goods_name for good in goods" ng-model="data.goodName" id="lesson_class" name="lesson_class" class="form-control"></select>
                                                </div>
                                                <div ng-if="lessons.length" class="form-group col-md-6 col-sm-6">
                                                    <label for="lesson_child" class="control-label">选择子课程
                                                        <span>
                                                            <small>进行课程评价为必选项，如果用于公开调查表使用可以不选</small>
                                                        </span>
                                                    </label>
                                                    <select ng-change="lesson_change(lessons)" ng-options="lesson.class_name as lesson.class_name for lesson in lessons" ng-model="data.className" id="lesson_child" name="lesson_child" class="form-control"></select>
                                                </div>
                                                <div class="form-group col-md-12 col-sm-12">
                                                    <div id="prompt_container">
                                                        <label for="prompt"
                                                               class="control-label">填表提示说明<span>*</span></label>
                                                        <textarea ng-model="data.prompt" id="prompt" style="height: 8em;" class="form-control"
                                                                  rows="5" required placeholder="填表提示说明"></textarea>
                                                    </div>
                                                </div>
                                                <div class="form-group col-md-12 col-sm-12">
                                                    <div class="">
                                                        <button ng-click="save(data, 0)" type="submit" class="btn btn-success btn-submit">保存基本信息</button>
                                                        <span class="help-block pull-right">保存后可添加题目</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-body" style="padding:15px 0">
                            <!-- 二级栏目 开始 -->
                            <div ng-repeat="level_2 in data.children" class="col-md-12 col-sm-12" style="padding:0 0 0 15px">
                                    <div class="panel panel-danger">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="form-group col-md-10 col-sm-9">
                                                    <label for="media_title"
                                                           class="control-label">题目名称<span>*</span></label>
                                                    <input ng-model="level_2.name" type="text" name="item_name" placeholder="题目名称"
                                                           class="form-control" required data-bv-trigger="blur"
                                                           data-bv-notempty-message='必填项目'>
                                                </div>
                                                <div class="form-group col-md-2 col-sm-3">
                                                    <label for="media_title"
                                                           class="control-label">题目排序<span>*</span></label>
                                                    <div>
                                                        <input ng-model="level_2.sort" type="text" name="item_name" placeholder="题目排序"
                                                               class="form-control" required data-bv-trigger="blur"
                                                               data-bv-notempty-message='必填项目'>
                                                    </div>
                                                </div>
                                                <div ng-if="!data.block" class="form-group col-md-12 col-sm-12">
                                                    <label for="media_title"
                                                           class="control-label">题目属性<span>*</span></label>
                                                    <div>
                                                        <form>
                                                            <label class="radio-inline">
                                                                <input ng-model="level_2.property" type="radio" name="property" value="required">必填
                                                            </label>
                                                            <label class="radio-inline">
                                                                <input ng-model="level_2.property" type="radio" name="property" value="">
                                                                选填
                                                            </label>
                                                        </form>
                                                    </div>
                                                </div>
                                                <div ng-if="!data.block" class="form-group  col-md-6 col-sm-12">
                                                    <label for="media_title" class="control-label">题目方式<span>*</span></label>
                                                    <div>
                                                        <form>
                                                            <label class="radio-inline">
                                                                <input ng-model="level_2.method" type="radio" name="method" value="1" checked> 单选
                                                            </label>
                                                            <label class="radio-inline">
                                                                <input ng-model="level_2.method" type="radio" name="method" value="2"> 复选
                                                            </label>
                                                            <label class="radio-inline">
                                                                <input ng-model="level_2.method" type="radio" name="method" value="3"> 评分
                                                            </label>
                                                            <label class="radio-inline">
                                                                <input ng-click="text_insert(level_2)" ng-model="level_2.method" type="radio" name="method" value="4"> 文本输入
                                                            </label>
                                                        </form>
                                                    </div>
                                                </div>

                                                <div ng-if="level_2.method==3" class="form-group  col-md-6 col-sm-12">
                                                    <label for="media_title" class="control-label">设置分级<span>*</span></label>
                                                    <div>
                                                        <input ng-model="level_2.score" type="text" name="item_name" placeholder="分级"
                                                               class="form-control" data-bv-trigger="blur"
                                                               data-bv-notempty-message='必填项目'>
                                                    </div>
                                                </div>

                                                <div class="form-group  col-md-12 col-sm-12">
                                                    <div class="">
                                                        <button ng-disabled="level_2.method==4 && level_2.children && level_2.children.length" ng-click="save(level_2, data.id)" type="submit" class="btn btn-success btn-submit">保存题目信息</button>
                                                        <button ng-click="del_item(data.children, level_2)" type="submit" class="btn btn-danger btn-submit pull-right">删除题目信息</button>
                                                    </div>
                                                </div>

                                                <div ng-if="level_2.method!=4" class="form-group col-md-12 col-sm-12">
                                                    <label for="media_description" class="control-label">排序
                                                        <!--<small class="help-block">  保存后可添加选项</small>-->
                                                    </label>
                                                    <button ng-disabled="!level_2.id" ng-click="add_level_3(level_2)" class="search_button btn btn-info btn-sm pull-right" type="button">添加</button>
                                                </div>

                                                <div class="form-group col-md-12 col-sm-12">
                                                    <!-- 三级栏目 开始 -->
                                                    <div ng-repeat="level_3 in level_2.children" class="input-group row" style="margin-bottom: 10px;width: 100%;">
                                                        <div class="form-group col-md-1 col-sm-2">
                                                            <input ng-model="level_3.sort" type="text" name="item_name" placeholder="排序"
                                                                   class="form-control" required data-bv-trigger="blur"
                                                                   data-bv-notempty-message='必填项目'>
                                                        </div>
                                                        <div class="form-group col-md-9 col-sm-7">
                                                            <input ng-model="level_3.name" name="reference" type="text" class="form-control"
                                                                   placeholder="标题">
                                                        </div>
                                                        <div class="form-group col-md-2 col-sm-3">
                                                            <span class="input-group-btn">
                                                                <button ng-click="save(level_3, data.id + ',' + level_2.id)" class="search_button btn btn-success" type="button">保存</button>
                                                                <button ng-click="del_item(level_2.children, level_3)" class="search_button btn btn-danger" type="button">删除</button>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <!-- 三级栏目 结束 -->
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <!-- 二级栏目 结束 -->


                            <div class="col-md-12 col-sm-12" style="padding:0 0 0 15px">
                                <button ng-disabled="!data.id" ng-click="add_level_2(data)" type="button" class="btn btn-info btn-submit">添加题目</button>
                                <!--<button type="submit" class="btn btn-danger btn-submit">生成调查表</button>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        //时间插件
        $(".input_date").datetimepicker({
            step: 30,
            lang: 'ch'
        });
    });
    angular.module('cms')
        .service('RatingEditService',function ($http, $location, $q) {
            this.source = function () {
                var id = $location.search().id;
                if(id){
                    return $http({
                        url: '/admin/rating/find',
                        method: 'GET',
                        params: {
                            id:id
                        }
                    })
                }else {
                    return {
                        success: function (fn) {
                            fn({
                                result: {
                                    name: '',
                                    goodName: '',
                                    className: '',
                                    prompt: '',
                                    level: 1,
                                    count: 0,
                                    children: []
                                }
                            })
                        }
                    }
                }
            };
            this.save = function (data) {
                return $http({
                    url: '/admin/rating/save',
                    method: 'POST',
                    //params
                    data: data
                })
            };
            this.del = function (id) {
                return $http({
                    url: '/admin/rating/delete',
                    method: 'POST',
                    //params
                    data: {
                        id: id
                    }
                })
            };
            this.goods = function () {
                return $http({
                    url: ' /admin/class_ajax',
                    method: 'GET',
                })
            };
            this.lesson = function (id) {
                return $http({
                    url: '/admin/child_ajax',
                    method: 'GET',
                    params: {
                        goodsid: id
                    }
                })
            };
            this.teacher = function (list) {
                return $http({
                    url: '/admin/members/list/name',
                    method: 'GET',
                    params: {
                        id: list
                    }
                })
            };
            this.goods_count = function (id) {
                return $http({
                    url: '/admin/good/student/count',
                    method: 'GET',
                    params: {
                        id: id
                    }
                })
            }
        })
        .controller('RatingEditCtrl',function ($scope,RatingEditService) {
            /* 获取产品列表 */
            RatingEditService.goods().success(function (result) {
                $scope.goods = result.message.list;
                /* 初始化数据 */
                RatingEditService.source().success(function (result) {
                    $scope.data = result.result;
                });
            });

            /* 定义原形数据模板开始 */
            var level_2 = {
                name: '',
                property: 'required',
                method: 1,//1单选 2复选 3评分 4 文本输入
                level: 2,
                type: 0,
                status: 5,//分级
                children: []
            };
            var level_3 = {
                name: '',
                level: 3
            };
            /* 定义原形数据模板结束 */

            /* 获取课程列表 */
            $scope.$watch('data.goodName', function find_lesson(n, o) {
                var id = n;
                if(n){
                    angular.forEach($scope.goods, function (v, i, source) {
                        if(v.goods_name === n){
                            id = v.goodsid;
                            return false;
                        }
                    });
                    RatingEditService.goods_count(id).success(function (result) {
                        $scope.data.count = result.result.count
                    });
                    RatingEditService.lesson(id).success(function (result) {
                        $scope.lessons = result.message.list;
                    });
                }
            });
            /* 文本输入 */
            $scope.text_insert = function (data) {
                if(data.children && data.children.length){
                    swal({
                        title: "请确认",
                        text: "如果确定改变为文本输入类型，请手动删除所有子项",
                        type: "error",
                        showCancelButton: false,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "确定",
                        cancelButtonText: "取消",
                        animation: "slide-from-top",
                        closeOnConfirm: true,
                        html: false
                    })
                }
            };
            /* 添加二级 */
            $scope.add_level_2 = function (data) {
                if(data.children){
                    data.children.push(angular.copy(level_2));
                }else {
                    data.children = [angular.copy(level_2)]
                }
            };
            /* 添加三级 */
            $scope.add_level_3 = function (data) {
                if(data.children){
                    data.children.push(angular.copy(level_3));
                }else {
                    data.children = [angular.copy(level_3)]
                }
            };
            /* 删除 */
            $scope.del_item = function (target ,current) {
                var id = current.id;
                if(id){
                    swal({
                        title: "确定删除 "+ name +" ?",
                        text: "",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "确定",
                        cancelButtonText: "取消",
                        animation: "slide-from-top",
                        closeOnConfirm: true,
                        html: false
                    }, function () {
                        RatingEditService.del(id).success(function () {
                            target = _.remove(target,function (n) {
                                return n === current;
                            })
                        });
                    });
                }else {
                    target = _.remove(target,function (n) {
                        return n === current;
                    })
                }
            };
            /* 保存 */
            $scope.save = function (source , id) {
                source.parent = id;//重新设置parent
                source.operator = $scope.operator;
                RatingEditService.save(source).success(function (result) {
                    swal({
                        type: 'success',
                        title: '成功',
                        text: result.message,
                        showConfirmButton: true,
                        timeout: 1000
                    });
                    var data = result.result;
                    delete data.children;
                    _.assign(source, data);
                });

            };
            $scope.goods_change = function () {
                $scope.data.teacher = '';//重置teacher
            };
            $scope.lesson_change = function (list) {
                angular.forEach(list, function (v, i, list) {
                    if(v.class_name == $scope.data.className){
                        console.log(v);
                        //$scope.data.count =
                        RatingEditService.teacher(v.class_teacher.split(',')).success(function (result) {
                            $scope.data.teacher = result.result.join(' ');
                        });
                        return false;
                    }
                });
            };
            $scope.operator = decodeURIComponent('<%=locals.current_user.user_login%>')
        })

</script>
<% include ../inc/footer.html%>
